//
// Variables
//
// - Layout
// - Breakpoints
// - Fonts
// - Icons
// - Colors
// - Transitions
// - Modules
//

$assetPath: "/dist/";


//
// Layout

$site-width: 1400px;
$narrow-container-width: 970px;
$content-padding: 25px;
$content-padding-lg: 65px;


//
// Breakpoints

$bp-xsmall:       480px;
$bp-xsmall_r:     $bp-xsmall - 1;
//*
$bp-small:        641px;
$bp-small_r:      $bp-small - 1;
//* *
$bp-medium:       769px;
$bp-medium_r:     $bp-medium - 1;  // iPad 2 Portrait
//* * *
$bp-large:        980px;
$bp-large_r:      $bp-large - 1;
//* * * *
$bp-xlarge:       1025px;
$bp-xlarge_r:     $bp-xlarge - 1; // iPad 2 Landscape
//* * * * *
$bp-huge:         1200px;
$bp-huge_r:       $bp-huge - 1;
//* * * * * *
$bp-site-max:     $site-width + ($content-padding-lg * 2);
$bp-site-max_r:   $bp-site-max - 1;

// ================

$header-link-shift-bp:      $bp-large;
$header-link-shift-bp_r:    $bp-large_r;

$hero-aspect-bp:            $bp-medium;
$hero-aspect-bp_r:          $bp-medium_r;

$hero-nav-bp:               $bp-huge;
$hero-nav-bp_r:             $bp-huge_r;


//
// Fonts

$primary-font:    "font-face-name";

$base-font-size:    16px;

$weight-thin:       100;
$weight-light:      300;
$weight-normal:     400;
$weight-semibold:   600;
$weight-bold:       700;


//
// Icons

$icon-font-name:    "icon-font-name";

// ================

// $icon-caret-right:      "\f0da";
// $icon-caret-down:       "\f0d7";

// non-breaking space
$nbsp:              "\00a0";


//
// Colors

// $gray:          #464646;
// $medium-gray:   #959595;
// $light-gray:    #dfe5e6;



//
// Transitions

$transition-time: 0.2s;
$transition-time-slow: 0.5s;
$transition-method: ease;
$transition: $transition-time $transition-method;
$transition-slow: $transition-time-slow $transition-method;

//
// Modules

// $button-padding-x: 20px;
// $button-padding-y: 14px;
